body{
  background-image: url(../images/background.jpg);
  min-height: 100%;
	text-align: center;
}

.text{
  color: aliceblue
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}